{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
<h1>Welcome to Flask!</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br>

<!-- post form -->
<h3>Add a Post!</h3>
<br>
<form class="form-message" role="form" method="post" action="/">
  {{ form.csrf_token }}

  <div class="form-group">
  	 <label for="title">Title</label>
    {{ form.title(class="form-control", placeholder="title") }}
  </div>

    <span class="error bg-danger">
      {% if form.title.errors %}
        {% for error in form.title.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  
  <div class="form-group">
  	 <label for="description">Description</label>
  {{ form.description(class="form-control", rows="5", placeholder="description") }}
	</div>

    <span class="error bg-danger">
      {% if form.description.errors %}
        {% for error in form.description.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
 
  <button class="btn btn-lg btn-success" type="submit">Post</button>
</form>

<!-- All posts -->
<h3>Posts:</h3>
{% for post in posts %}
  <strong>Title:</strong> {{ post.title }} <br>
  <strong>Post:</strong> {{ post.description }} <br>
  <strong>Author:</strong> {{ post.author.name }} <br>
<br>
{% endfor %}

 {% if current_user.is_active %}
<!-- User posts -->
{{ current_user.name }}<br>
{{ current_user.email }}
<br><br>
{% for u, p in u_posts %}
<!-- {{ u_posts.title }} -->
  <!-- {{ u.email }} -->
  {{ u.name }}
  {{ p.title }}<br>
  {{ p.description }}<br>
  <!-- {{ p.author_id }}<br><br> -->
  <br>
  {% endfor %}
 
{% endif %}
</div>
</div>
{% endblock %}